<% include partials/header %>

    <div>
      <div class= "container text-center">
        <header class="jumbotron">
      <h1>PlebsFeast</h1>
      </header>
      <a href="/restaurants">index</a>
      </div>
    </div>


<% include partials/footer %>